.card-title {
  color: gray;
  font-weight: 600;
}

.percantage {
  color: green;
  font-size: 13px;
  font-weight: bold;
}

.count {
  font-size: 18px;
}

.bottom-title {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.icon {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.icon:first-child {
  background: gray;
}

.icon:nth-child(2) {
  background: blue;
}

.icon:nth-child(3) {
  background: red;
}

.icon:nth-child(4) {
  background: green;
}
