.sidemenu-con {
  background-color: #2a2b2e;
  color: #fff;
  height: 100vh;
}

.sidebar {
}

.sidebar-item {
  list-style: none;
  cursor: pointer;
  padding-top: 30px;
}

.sidebar-item:hover {
  background-color: blue;
}
